Repository marigold-ui/reference-app, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure

DST-424: fix test
  src/App.test.tsx
  src/App.tsx
Labels: type:feature

DST-424: fix test
  jest.config.js
  src/App.tsx
  src/components/Example/Example.test.tsx
  src/main.tsx
Labels: type:feature

DST-424: replace jest with vitest, format files
  .github/workflows/test.yml
  jest.config.js
  package.json
  pnpm-lock.yaml
  renovate.json
  src/App.test.tsx
  src/App.tsx
  src/components/Example/Example.test.tsx
  src/components/Example/Example.tsx
  src/components/Example/example.mdx
  src/css/custom-ch.css
  src/css/global.css
  tests/setup.js
  tsconfig.json
  types/mdx.d.ts
  vite.config.ts
Labels: type:feature, type:infrastructure

DST-424: fix package.json
  package.json
  pnpm-lock.yaml
Labels: none

[DST-424]: setup codehike (#9)
  .github/workflows/test.yml
  index.html
  jest.config.js
  package.json
  pnpm-lock.yaml
  public/logo.svg
  renovate.json
  src/App.test.tsx
  src/App.tsx
  src/components/Example/Example.test.tsx
  src/components/Example/Example.tsx
  src/components/Example/example.mdx
  src/css/custom-ch.css
  src/css/global.css
  src/index.tsx
  tests/setup.js
  tsconfig.json
  types/mdx.d.ts
  vite.config.ts
Labels: type:feature, type:infrastructure

DST-432: add tanstack router, first draft sidebar
  index.html
  package.json
  pnpm-lock.yaml
  src/index.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/index.lazy.tsx
  vite.config.ts
Labels: type:feature

DST-415: add initial vite app with react, typescript, eslint
  .eslintrc.cjs
  src/App.css
  src/main.tsx
Labels: type:feature

DST-415: configure eslint and prettier
  .eslintrc.cjs
  src/main.tsx
Labels: type:feature

DST-415: adjust tsconfig
  src/main.tsx
Labels: type:feature

DST-415: adjust tailwind config, add test, add coverage
  jest.config.js
  src/App.css
Labels: type:feature

DST-424: rename files, change favicon, rename app
  public/vite.svg
  src/assets/react.svg
  src/main.tsx
Labels: type:feature

DST-424: fix test
  jest.config.js
Labels: none

DST-424: replace jest with vitest, format files
  jest.config.js
Labels: none

DST-411: add snapshot test
  package.json
  pnpm-lock.yaml
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
Labels: type:feature

DST-411: remove example mdx
  src/App.test.tsx
  src/App.tsx
  src/components/Example/Example.test.tsx
  src/components/Example/Example.tsx
  src/components/Example/example.mdx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
Labels: type:feature

DST-411: add breadcrumbs example
  src/App.tsx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Breadcrumbs/index.tsx
  src/components/compoundComponents/index.mdx
  src/css/custom-ch.css
Labels: type:feature

DST-432: add side navigation component
  src/components/SideNavigation.tsx
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/index.lazy.tsx
Labels: type:feature

DST-432: ignore routeTree.gen.ts
  .gitignore
  src/routeTree.gen.ts
  src/routes/index.lazy.tsx
Labels: type:feature

DST-432: format
  src/components/SideNavigation.tsx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/index.lazy.tsx
  vite.config.ts
Labels: type:feature

DST-432: add tests
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/routes/about.lazy.tsx
  vite.config.ts
Labels: type:feature

DST-432: add tests
  src/components/SideNavigation.test.tsx
  src/routes/about.lazy.tsx
  vite.config.ts
Labels: type:feature

DST-432: add build step to typecheck
  .github/workflows/typecheck.yml
  package.json
Labels: type:infrastructure

DST-411: edit some comments
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/index.mdx
Labels: type:feature

remove warning from tailwind.config
  tailwind.config.js
Labels: none

DST-411: added another example
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/App.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Tabs/Tab.tsx
  src/components/compoundComponents/Tabs/TabPanel.tsx
  src/components/compoundComponents/Tabs/Tabs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/index.mdx
Labels: type:feature

fix: warning from tailwind.config (#22)
  tailwind.config.js
Labels: none

[DST-432]: integrate routing (#21)
  .github/workflows/typecheck.yml
  .gitignore
  index.html
  package.json
  pnpm-lock.yaml
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/index.lazy.tsx
  vite.config.ts
Labels: type:feature, type:infrastructure

DST-411: small fixes
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/index.mdx
Labels: type:feature

DST-411: small fixes
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
Labels: type:feature

Adding setup
  package.json
  pnpm-lock.yaml
  src/index.tsx
Labels: type:feature

DST-411: adjust tab example
  src/components/compoundComponents/Tabs/TabsExample.tsx
Labels: type:feature

[DST-411]: compound components (#18)
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.test.tsx
  src/App.tsx
  src/assets/react.svg
  src/components/Example/Example.test.tsx
  src/components/Example/Example.tsx
  src/components/Example/example.mdx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Tabs/Tab.tsx
  src/components/compoundComponents/Tabs/TabPanel.tsx
  src/components/compoundComponents/Tabs/Tabs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/index.mdx
  src/css/custom-ch.css
  src/routes/about.lazy.tsx
Labels: type:feature

config automerge
  .github/renovate.json
  .github/workflows/build.yml
Labels: type:infrastructure

chore: config automerge (#34)
  .github/renovate.json
  .github/workflows/build.yml
Labels: type:infrastructure

config automerge
  .github/renovate.json
Labels: type:infrastructure

config automerge
  .github/renovate.json
Labels: type:infrastructure

chore: config automerging (#39)
  .github/renovate.json
Labels: type:infrastructure

config automerge
  .github/renovate.json
Labels: type:infrastructure

publish branch
  src/components/SideNavigation.tsx
  src/hooks/useDebounce.ts
  src/routes/__root.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

fix react-aria deps
  package.json
  pnpm-lock.yaml
Labels: none

.github/labeler.yml:

'type:feature':
  - changed-files:
      - any-glob-to-any-file: src/*
      - any-glob-to-any-file: src/**/*

'type:infrastructure':
  - changed-files:
      - any-glob-to-any-file: .github/*
      - any-glob-to-any-file: .github/**/*
