Repository marigold-ui/reference-app, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure

.github/labeler.yml:

'type:feature':
  - changed-files:
      - any-glob-to-any-file: src/*
      - any-glob-to-any-file: src/**/*

'type:infrastructure':
  - changed-files:
      - any-glob-to-any-file: .github/*
      - any-glob-to-any-file: .github/**/*

feedback incorporated
  public/component-tree-context-api.png
  public/component-tree-prop-drill.png
  src/routes/state-management/_components/CounterExample.tsx
  src/routes/state-management/_components/SearchFilterComponent.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
  src/routes/state-management/_components/context-api-example.mdx
  src/routes/state-management/_components/counter-example.mdx
  src/routes/state-management/_components/search-filter-example.mdx
  src/routes/state-management/_components/server-state.mdx
  src/routes/state-management/_components/url-search-filter-example.mdx
  src/routes/state-management/index.mdx
Labels: type:feature

update dependencies
  package.json
  pnpm-lock.yaml
Labels: none

breaking changes
  src/routes/state-management/_components/context-api-example.mdx
  src/routes/state-management/_components/server-state.mdx
  src/routes/state-management/index.mdx
Labels: type:feature

lint and prettier
  src/routes/compound-component/index.mdx
  src/routes/state-management/_components/ContextApiExample.tsx
  src/routes/state-management/_components/CounterExample.tsx
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/context-api-example.mdx
  src/routes/state-management/_components/counter-example.mdx
  src/routes/state-management/_components/globals.tsx
  src/routes/state-management/_components/search-filter-example.mdx
  src/routes/state-management/_components/server-state.mdx
  src/routes/state-management/_components/url-search-filter-example.mdx
  src/routes/state-management/index.lazy.tsx
  src/routes/state-management/index.mdx
  src/routes/state-management/preview.lazy.tsx
Labels: type:feature

feedback incorporated
  public/floating-cogs.svg
  src/routes/state-management/_components/SearchFilterComponent.tsx
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
  src/routes/state-management/_components/context-api-example.mdx
  src/routes/state-management/_components/counter-example.mdx
  src/routes/state-management/_components/search-filter-example.mdx
  src/routes/state-management/_components/server-state.mdx
  src/routes/state-management/_components/url-search-filter-example.mdx
  src/routes/state-management/index.mdx
Labels: type:feature

replace image
  public/server-cache-dia.png
Labels: none

State managment reworked (#83)
  package.json
  pnpm-lock.yaml
  public/component-tree-context-api.png
  public/component-tree-prop-drill.png
  public/floating-cogs.svg
  public/goku.gif
  public/server-cache-dia.png
  src/routes/_components/About.tsx
  src/routes/_components/Tutorials.tsx
  src/routes/compound-component/index.mdx
  src/routes/state-management/_components/ContextApiExample.tsx
  src/routes/state-management/_components/CounterExample.tsx
  src/routes/state-management/_components/SearchFilterComponent.tsx
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
  src/routes/state-management/_components/context-api-example.mdx
  src/routes/state-management/_components/counter-example.mdx
  src/routes/state-management/_components/globals.tsx
  src/routes/state-management/_components/search-filter-example.mdx
  src/routes/state-management/_components/server-state.mdx
  src/routes/state-management/_components/url-search-filter-example.mdx
  src/routes/state-management/_components/useFetch.tsx
  src/routes/state-management/index.lazy.tsx
  src/routes/state-management/index.mdx
  src/routes/state-management/preview.lazy.tsx
  src/routes/state-management/server-state.mdx
Labels: type:feature

add feedback in column layout
  src/routes/_components/About.tsx
Labels: type:feature

add feedback in column layout
  src/routes/_components/About.tsx
Labels: type:feature

Adjust Feedback column (#96)
  src/routes/_components/About.tsx
Labels: type:feature

scroll to top when page changes
  src/App.tsx
Labels: type:feature

chore: scroll to top when page changes (#97)
  src/App.tsx
Labels: type:feature

add vercel analytics
  package.json
  pnpm-lock.yaml
  src/App.tsx
Labels: type:feature

enable vercel analytics (#98)
  package.json
  pnpm-lock.yaml
  src/App.tsx
Labels: type:feature

DST-538: setup codehike v1
  package.json
  pnpm-lock.yaml
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  vite.config.ts
Labels: type:feature

DST-538: add mark implementation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/routes/compound-component/index.mdx
  src/utils/codehike/mark.tsx
Labels: type:feature

DST-538: prettier files
  package.json
  src/routes/_components/About.tsx
  src/routes/compound-component/_components/TabsGotoExample.tsx
  src/routes/compound-component/index.mdx
  src/routes/state-management/_components/search-filter-example.mdx
Labels: type:feature

DST-538: rename component, add focus annotation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/focus.tsx
  vite.config.ts
Labels: type:feature

DST-538: add focus handler
  src/routes/compound-component/index.mdx
  src/utils/codehike/focus.tsx
  src/utils/codehike/mark.tsx
  vite.config.ts
Labels: type:feature

DST-538: add scrollycoding feature
  package.json
  pnpm-lock.yaml
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
  src/utils/codehike/scrollycoding/smooth-pre.tsx
  src/utils/codehike/scrollycoding/token-transition.tsx
  vite.config.ts
Labels: type:feature

DST-538: add filename
  src/routes/compound-component/index.mdx
  src/utils/codehike/CodeHikeWrapper.tsx
Labels: type:feature

DST-538: wrap state-management with codehike
  src/routes/compound-component/index.mdx
  src/routes/state-management/index.lazy.tsx
  src/routes/state-management/index.mdx
Labels: type:feature

DST-538: fix config
  src/routes/compound-component/index.mdx
  vite.config.ts
Labels: type:feature

fix broken scrollycoding
  src/index.css
Labels: type:feature

bugfix: fix broken scrollycoding (#130)
  src/index.css
Labels: type:feature

DST-538: setup codehike v1
  package.json
  pnpm-lock.yaml
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  vite.config.ts
Labels: type:feature

DST-538: rename component, add focus annotation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/focus.tsx
  vite.config.ts
Labels: type:feature

DST-538: add mark implementation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/routes/compound-component/index.mdx
  src/utils/codehike/mark.tsx
Labels: type:feature

DST-538: add focus handler
  src/routes/compound-component/index.mdx
  src/utils/codehike/focus.tsx
  src/utils/codehike/mark.tsx
  vite.config.ts
Labels: type:feature

DST-538: prettier files
  package.json
  src/routes/_components/About.tsx
  src/routes/compound-component/_components/TabsGotoExample.tsx
  src/routes/compound-component/index.mdx
  src/routes/state-management/_components/search-filter-example.mdx
Labels: type:feature

DST-538: add scrollycoding feature
  package.json
  pnpm-lock.yaml
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
  src/utils/codehike/scrollycoding/smooth-pre.tsx
  src/utils/codehike/scrollycoding/token-transition.tsx
  vite.config.ts
Labels: type:feature

DST-538: wrap state-management with codehike
  src/routes/compound-component/index.mdx
  src/routes/state-management/index.lazy.tsx
  src/routes/state-management/index.mdx
Labels: type:feature

DST-538: add filename
  src/routes/compound-component/index.mdx
  src/utils/codehike/CodeHikeWrapper.tsx
Labels: type:feature

DST-538: fix config
  src/routes/compound-component/index.mdx
  vite.config.ts
Labels: type:feature

update package.json
  package.json
  pnpm-lock.yaml
Labels: none

use latest examples from codehilke fix router update
  pnpm-lock.yaml
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
  src/routes/state-management/_components/counter-example.mdx
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
Labels: type:feature

fix eslint
  package.json
  pnpm-lock.yaml
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
Labels: type:feature

update dependencies and fix eslint errors
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Logo.tsx
  src/components/Preview.tsx
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
Labels: type:feature

chore: update dependencies and fix eslint errors (#139)
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Logo.tsx
  src/components/Preview.tsx
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/routes/state-management/_components/ServerStateExample.tsx
  src/routes/state-management/_components/UrlSearchFilterComponent.tsx
Labels: type:feature

DST-633: setup dependency track
  .github/workflows/dependency-track.yml
Labels: type:infrastructure
