Repository marigold-ui/reference-app, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure

infra([DST-633]): setup dependency track (#164)
  .github/workflows/dependency-track.yml
Labels: type:infrastructure

infra([DST-633]): setup dependency track (#164)
  .github/workflows/dependency-track.yml
Labels: type:infrastructure

blah
  tailwind.config.js
Labels: none

updated stuff, fixed bug, deleted files
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/App.tsx
  src/components/DemoLink.tsx
  src/components/SiteLogo.tsx
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/index.css
  src/routes/_components/About.tsx
  src/routes/_components/Header.tsx
  src/routes/_components/Hero.tsx
  src/routes/compound-component/_components/Link.tsx
  src/routes/compound-component/_components/Tabs/TabItem.tsx
  src/routes/compound-component/_components/TabsBasic.tsx
  tailwind.config.js
  vite.config.ts
Labels: type:feature

fixed gradiant
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/index.css
  src/routes/_components/Hero.tsx
Labels: type:feature

fixed headlines
  src/components/Title.tsx
  src/index.css
  src/routes/_components/Hero.tsx
Labels: type:feature

fix lint error
  src/components/TeaserCard.tsx
Labels: type:feature

removed useless stuff
  src/App.tsx
  src/components/TeaserCard.tsx
Labels: type:feature

resolved comments
  src/index.css
Labels: type:feature

blah
  tailwind.config.js
Labels: none

updated stuff, fixed bug, deleted files
  package.json
  postcss.config.js
  src/App.tsx
  src/components/DemoLink.tsx
  src/components/SiteLogo.tsx
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/index.css
  src/routes/_components/About.tsx
  src/routes/_components/Header.tsx
  src/routes/_components/Hero.tsx
  src/routes/compound-component/_components/Link.tsx
  src/routes/compound-component/_components/Tabs/TabItem.tsx
  src/routes/compound-component/_components/TabsBasic.tsx
  tailwind.config.js
  vite.config.ts
Labels: type:feature

removed useless stuff
  src/App.tsx
  src/components/TeaserCard.tsx
Labels: type:feature

fix lint error
  src/components/TeaserCard.tsx
Labels: type:feature

fixed headlines
  src/components/Title.tsx
  src/index.css
  src/routes/_components/Hero.tsx
Labels: type:feature

fixed gradiant
  src/components/TeaserCard.tsx
  src/components/Title.tsx
  src/index.css
  src/routes/_components/Hero.tsx
Labels: type:feature

resolved comments
  pnpm-lock.yaml
  src/index.css
Labels: type:feature

chore([DST-698]): update to Tailwind v4 (#188)
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/components/DemoLink.tsx
  src/components/SiteLogo.tsx
  src/components/Title.tsx
  src/index.css
  src/routes/_components/About.tsx
  src/routes/_components/Header.tsx
  src/routes/_components/Hero.tsx
  src/routes/compound-component/_components/Link.tsx
  src/routes/compound-component/_components/Tabs/TabItem.tsx
  src/routes/compound-component/_components/TabsBasic.tsx
  tailwind.config.js
  vite.config.ts
Labels: type:feature

Update to latest dependencies
  package.json
  pnpm-lock.yaml
Labels: none

fix styles
  src/index.css
Labels: type:feature

Update to latest dependencies (#200)
  package.json
  pnpm-lock.yaml
  src/index.css
Labels: type:feature

DST-538: setup codehike v1
  package.json
  pnpm-lock.yaml
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  vite.config.ts
Labels: type:feature

DST-538: add mark implementation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/routes/compound-component/index.mdx
  src/utils/codehike/mark.tsx
Labels: type:feature

DST-538: prettier files
  package.json
  src/routes/_components/About.tsx
  src/routes/compound-component/_components/TabsGotoExample.tsx
  src/routes/compound-component/index.mdx
  src/routes/state-management/_components/search-filter-example.mdx
Labels: type:feature

DST-538: rename component, add focus annotation
  src/routes/compound-component/_components/CodeHikeWrapperComponent.tsx
  src/routes/compound-component/index.lazy.tsx
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/focus.tsx
  vite.config.ts
Labels: type:feature

DST-538: add focus handler
  src/routes/compound-component/index.mdx
  src/utils/codehike/focus.tsx
  src/utils/codehike/mark.tsx
  vite.config.ts
Labels: type:feature

DST-538: add scrollycoding feature
  package.json
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
  src/utils/codehike/scrollycoding/smooth-pre.tsx
  src/utils/codehike/scrollycoding/token-transition.tsx
  vite.config.ts
Labels: type:feature

DST-538: fix config
  src/routes/compound-component/index.mdx
  vite.config.ts
Labels: type:feature

DST-538: add filename
  src/routes/compound-component/index.mdx
  src/utils/codehike/CodeHikeWrapper.tsx
Labels: type:feature

DST-538: wrap state-management with codehike
  src/routes/compound-component/index.mdx
  src/routes/state-management/index.lazy.tsx
  src/routes/state-management/index.mdx
Labels: type:feature

use latest examples from codehilke fix router update
  src/routes/state-management/_components/counter-example.mdx
  src/utils/codehike/CodeHikeWrapper.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
Labels: type:feature

fix eslint
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
Labels: type:feature

update codehike to latest
  package.json
  pnpm-lock.yaml
Labels: none

ignore lint errors
  eslint.config.js
  src/utils/codehike/focus.tsx
  src/utils/codehike/scrollycoding/Scrollycoding.tsx
  src/utils/codehike/scrollycoding/smooth-pre.tsx
Labels: type:feature

chore: harden npm supply chain (pnpm 11 + min-release-age + renovate)
  .github/renovate.json
  .npmrc
  package.json
Labels: type:infrastructure

chore: bump Node to 22 LTS for pnpm 11 compatibility
  .node-version
Labels: none

fix: move pnpm build-script approvals to pnpm-workspace.yaml (pnpm 11)
  package.json
  pnpm-workspace.yaml
Labels: none

fix(vercel): pin pnpm 11 in installCommand
  vercel.json
Labels: none

chore: regenerate pnpm-lock.yaml with pnpm 11
  pnpm-lock.yaml
Labels: none

fix(vercel): force Node 22 + use corepack for pnpm 11
  package.json
  vercel.json
Labels: none

fix(vercel): add packages field so pnpm 9 accepts workspace file
  pnpm-workspace.yaml
Labels: none

.github/labeler.yml:

'type:feature':
  - changed-files:
      - any-glob-to-any-file: src/*
      - any-glob-to-any-file: src/**/*

'type:infrastructure':
  - changed-files:
      - any-glob-to-any-file: .github/*
      - any-glob-to-any-file: .github/**/*
