Repository marigold-ui/reference-app, changes with the labels that .github/labeler.yml gives for each.
All labels: type:feature, type:infrastructure

remove debouncing
  src/hooks/useDebounce.ts
  src/routes/state-management.lazy.tsx
Labels: type:feature

update deps
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/components/SideNavigation.test.tsx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
Labels: type:feature

add tanstack
  package.json
  pnpm-lock.yaml
Labels: none

chore: update dependencies (#43)
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/components/SideNavigation.test.tsx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
Labels: type:feature

chore: add marigold as one matchpackagepattern for renovate
  .github/renovate.json
Labels: type:infrastructure

chore: add marigold as one matchpackagepattern for renovate (#46)
  .github/renovate.json
Labels: type:infrastructure

chore: add test again after fixed tanstack version
  src/components/SideNavigation.test.tsx
Labels: type:feature

chore: update marigold and remove react-stately/menu
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove react-stately/menu
  package.json
  pnpm-lock.yaml
Labels: none

chore: remove react-stately/menu (#49)
  package.json
  pnpm-lock.yaml
Labels: none

chore: add automerge config
  .github/renovate.json
Labels: type:infrastructure

chore: add automerge config (#50)
  .github/renovate.json
Labels: type:infrastructure

chore: add automerge config
  renovate.json
Labels: none

Renovate automerge (#51)
  renovate.json
Labels: none

Resolving comments
  package.json
  pnpm-lock.yaml
  src/routes/state-management.lazy.tsx
Labels: type:feature

add side nav back
  src/routes/__root.tsx
Labels: type:feature

Resolving comments
  src/components/state-management/state-management.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

chore: add some basic styles, remove unused styles
  package.json
  src/App.tsx
  src/components/SideNavigation.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/css/custom-ch.css
  src/css/global.css
  src/index.css
Labels: type:feature

chore: add header with logo
  src/App.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/index.css
  src/routes/__root.tsx
Labels: type:feature

chore: reorganize files, add new route welcome and compound component
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Header.tsx
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/components/compoundComponents/CompoundApp.tsx
  src/index.css
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/compoundComponent.lazy.tsx
  src/routes/index.lazy.tsx
Labels: type:feature

chore: add tests
  src/components/Header.test.tsx
  src/components/Logo.test.tsx
  src/components/__snapshots__/Header.test.tsx.snap
  src/components/__snapshots__/Logo.test.tsx.snap
  src/components/compoundComponents/CompoundApp.test.tsx
  src/components/compoundComponents/__snapshots__/CompoundApp.test.tsx.snap
Labels: type:feature

chore: formatting
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/components/compoundComponents/CompoundApp.tsx
  src/index.css
  src/routes/compoundComponent.lazy.tsx
Labels: type:feature

chore: formatting
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Header.tsx
  src/components/Logo.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/components/__snapshots__/App.test.tsx.snap
  src/components/compoundComponents/CompoundApp.tsx
  src/index.css
  src/routes/compoundComponent.lazy.tsx
Labels: type:feature

Adding code hike
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/index.mdx
  src/routes/state-management.lazy.tsx
Labels: type:feature

Resolving comments
  src/components/state-management/ServerState/ServerStateExample.tsx
Labels: type:feature

Resolving comments
  src/components/state-management/ServerState/server-state.mdx
Labels: type:feature

Moving react query dev tools
  src/index.tsx
  src/routes/__root.tsx
Labels: type:feature

[DST-412]: Ref-App/state-management (#42)
  package.json
  pnpm-lock.yaml
  src/components/SideNavigation.tsx
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/index.mdx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

chore: style state-management app
  src/components/App.test.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/StateManagementApp.test.tsx
  src/components/state-management/StateManagementApp.tsx
  src/components/state-management/__snapshots__/StateManagementApp.test.tsx.snap
  src/components/state-management/index.mdx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/compoundComponent.lazy.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

chore: fix styles after reload
  src/components/compoundComponents/CompoundApp.tsx
  src/components/state-management/StateManagementApp.tsx
Labels: type:feature

chore: fix styles after reload
  src/components/compoundComponents/CompoundApp.tsx
  src/components/state-management/StateManagementApp.tsx
  src/routes/index.lazy.tsx
Labels: type:feature

chore: add basic styling (#52)
  src/App.test.tsx
  src/App.tsx
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/Logo.test.tsx
  src/components/Logo.tsx
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/components/__snapshots__/App.test.tsx.snap
  src/components/__snapshots__/Header.test.tsx.snap
  src/components/__snapshots__/Logo.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/CompoundApp.test.tsx
  src/components/compoundComponents/CompoundApp.tsx
  src/components/compoundComponents/__snapshots__/CompoundApp.test.tsx.snap
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/StateManagementApp.test.tsx
  src/components/state-management/StateManagementApp.tsx
  src/components/state-management/__snapshots__/StateManagementApp.test.tsx.snap
  src/components/state-management/index.mdx
  src/css/custom-ch.css
  src/css/global.css
  src/index.css
  src/index.tsx
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/compoundComponent.lazy.tsx
  src/routes/index.lazy.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

DST-452: add package-manager-strict to false cause of failed deployment
  .npmrc
Labels: none

DST-401: update content
  src/components/compoundComponents/index.mdx
Labels: type:feature

DST-401: add language tone
  src/components/SideNavigation.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/index.mdx
Labels: type:feature

DST-450: add preview for components
  src/components/Preview.tsx
  src/components/compoundComponents/index.mdx
  src/routes/$component.preview.$example.tsx
  src/routes/compoundComponent.index.lazy.tsx
Labels: type:feature

DST-452: setup vercel deployment (#53)
  .npmrc
Labels: none

Adding content to state management
  src/components/SideNavigation.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/StateManagementApp.tsx
  src/components/state-management/index.mdx
  src/routes/state-management.lazy.tsx
  src/routes/state-management/example.lazy.tsx
  src/routes/state-management/index.lazy.tsx
Labels: type:feature

Fixing tests
  src/components/state-management/__snapshots__/StateManagementApp.test.tsx.snap
Labels: type:feature

Test
  src/components/state-management/ServerState/server-state.mdx
Labels: type:feature

.github/labeler.yml:

'type:feature':
  - changed-files:
      - any-glob-to-any-file: src/*
      - any-glob-to-any-file: src/**/*

'type:infrastructure':
  - changed-files:
      - any-glob-to-any-file: .github/*
      - any-glob-to-any-file: .github/**/*
