Repository marigold-ui/reference-app, pull requests merged in 2024-05, with the labels that each got.

#18 [DST-411]: compound components
  package.json
  pnpm-lock.yaml
  public/vite.svg
  src/App.test.tsx
  src/App.tsx
  src/assets/react.svg
  src/components/Example/Example.test.tsx
  src/components/Example/Example.tsx
  src/components/Example/example.mdx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Tabs/Tab.tsx
  src/components/compoundComponents/Tabs/TabPanel.tsx
  src/components/compoundComponents/Tabs/Tabs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/index.mdx
  src/css/custom-ch.css
  src/routes/about.lazy.tsx
Labels: type:feature, type:infrastructure

#34 chore: config automerge
  .github/renovate.json
  .github/workflows/build.yml
Labels: type:infrastructure

#39 chore: config automerging
  .github/renovate.json
Labels: type:infrastructure

#43 chore: update dependencies
  package.json
  pnpm-lock.yaml
  src/App.test.tsx
  src/components/SideNavigation.test.tsx
  src/components/compoundComponents/Breadcrumbs/Breadcrumbs.tsx
  src/components/compoundComponents/Tabs/TabsExample.tsx
Labels: type:feature

#46 chore: add marigold as one matchpackagepattern for renovate
  .github/renovate.json
Labels: type:infrastructure

#50 chore: add automerge config
  .github/renovate.json
Labels: type:infrastructure

#42 [DST-412]: Ref-App/state-management
  package.json
  pnpm-lock.yaml
  src/components/SideNavigation.tsx
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/index.mdx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

#52 chore: add basic styling
  src/App.test.tsx
  src/App.tsx
  src/components/App.test.tsx
  src/components/App.tsx
  src/components/Header.test.tsx
  src/components/Header.tsx
  src/components/Logo.test.tsx
  src/components/Logo.tsx
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/components/SiteLogo.tsx
  src/components/__snapshots__/App.test.tsx.snap
  src/components/__snapshots__/Header.test.tsx.snap
  src/components/__snapshots__/Logo.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/BreadcrumbsExample.test.tsx
  src/components/compoundComponents/Breadcrumbs/__snapshots__/BreadcrumbsExample.test.tsx.snap
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/CompoundApp.test.tsx
  src/components/compoundComponents/CompoundApp.tsx
  src/components/compoundComponents/__snapshots__/CompoundApp.test.tsx.snap
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/StateManagementApp.test.tsx
  src/components/state-management/StateManagementApp.tsx
  src/components/state-management/__snapshots__/StateManagementApp.test.tsx.snap
  src/components/state-management/index.mdx
  src/css/custom-ch.css
  src/css/global.css
  src/index.css
  src/index.tsx
  src/routes/__root.tsx
  src/routes/about.lazy.tsx
  src/routes/compoundComponent.lazy.tsx
  src/routes/index.lazy.tsx
  src/routes/state-management.lazy.tsx
Labels: type:feature

#55 DST-401: Update content of state management app
  src/components/state-management/ServerState/ServerStateExample.tsx
  src/components/state-management/ServerState/server-state.mdx
  src/components/state-management/StateManagementApp.tsx
  src/components/state-management/__snapshots__/StateManagementApp.test.tsx.snap
  src/components/state-management/index.mdx
  src/index.tsx
  src/routes/__root.tsx
  src/routes/state-management.lazy.tsx
  src/routes/state-management/example.lazy.tsx
  src/routes/state-management/index.lazy.tsx
Labels: type:feature

#54 DST-401: update content of compound component
  src/components/SideNavigation.test.tsx
  src/components/SideNavigation.tsx
  src/components/compoundComponents/Breadcrumbs/breadcrumbs.mdx
  src/components/compoundComponents/Tabs/tabs.mdx
  src/components/compoundComponents/__snapshots__/CompoundApp.test.tsx.snap
  src/components/compoundComponents/index.mdx
Labels: type:feature
